<div class="headerBox">
  <h2 class="header">Create Item</h2>
</div>

<form [formGroup]="createForm">


  <div>
    <label for ="name">       <!-- the for name is just to specify for wich input field it is //  optional?-->
      Name
    </label>
    <input id="name" type="text" formControlName="name">    <!--the formControlName is to link it to name in the .ts-->
  </div>                                                     <!--   the id is for styling the input box in css-->

  <div>
    <label for ="description">
      Description
    </label>
    <input id="description" type="text" formControlName="description">
  </div>

  <div class="priceAndAmountDiv">
    <label class="priceAndAmountLabel">
      Price
    </label>
    <span class="euroSpan">€</span>
    <input id="price" type="text" formControlName="price">
  </div>

  <div class="priceAndAmountDiv">
    <label class="priceAndAmountLabel">
      Amount of stock
    </label>
    <input id="amountOfStock" type="text" formControlName="amountOfStock">
  </div>


<div class="buttonDiv">
  <button class="button1" (click)="onCreate(createForm.value)">Create</button>
  <button class="button2" (click)="onCancel(createForm.value)">Cancel</button>
</div>

</form>

