/* Application-wide Styles */
h1 {
  color: #090999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;

}
h2, h3 {
  color: #2b2b2b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
body {
  margin: 1em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
